<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBMV340YcyYHp2gk9GWe1Ab8_Dsoo4EFYA</string>
	<key>GCM_SENDER_ID</key>
	<string>581805185664</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.KingSlayer.Valorant-Wiki</string>
	<key>PROJECT_ID</key>
	<string>valorant-wiki-95b80</string>
	<key>STORAGE_BUCKET</key>
	<string>valorant-wiki-95b80.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:581805185664:ios:c49b8966b40ac64b4b2465</string>
</dict>
</plist>